<!DOCTYPE html>
<html>
    <title>Edit log</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form action="/tracker_history/{{user_id}}/{{tracker_id}}/edit" method="POST" id="edit-log-details-form">
        
            <div>
                <label style="line-height:3.5em;">Tracker value:</label>
                <input type="text"name="value" value="{{tracker_history['value']}}" required />
            </div>

            <div>
                <label style="line-height:3.5em;">Tracker note:</label>
                <input type="text" name="note" value="{{tracker_history['note']}}" required />
            </div>
            
            <div style="line-height:3.5em;">
            <input type="submit" value = "Submit">
            </div>
            
        </form>
    </body>
</html>